*{
    margin: 0px;
    padding: 0px;
    font-family: "Plus Jakarta Sans", sans-serif;
}

:root{
    --dark : black;
    --dark-text: white;
}

.header{
    width: 100vw;
    height: 10vh;
    background-color: var(--dark);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 10px beige;
}

.title{
    font-size: 1.5rem;
    margin-left: 2rem;
    color: var(--dark-text);
}

.counters{
    margin-right: 2rem;
    background-color: var(--dark);
    color: var(--dark-text);
    padding: 1rem;
    border-radius: 15px;
    &:hover{
        border: 2px solid brown;
        cursor: pointer;
        background-color: var(--dark);
    }
}

.nav{
    display: flex;
    flex-direction: column;
}