*{
    margin: 0px;
    padding: 0px;
}

:root{
    --dark: black;
    --dark2: gray; 
    --dark-text: white;
}

.drop-down{
    position: absolute;
    top: 10vh;
    width: 150px;
    background-color: var(--dark);
    color: var(--dark-text);
}

.drop-down-card{
    padding: 5px;
    text-align: start;
    border-bottom: 1px solid beige;
    &:hover{
        background-color: var(--dark2);
        cursor: pointer;
    }
}

.add-new-counter{
    background-color: rgb(174, 152, 152);
    &:hover{
        cursor: pointer;
    }
}